{
	"env": {
		"browser": true,
		"es6": true
	},
	"extends": ["prettier", "eslint:recommended"],
	"plugins": ["prettier"],
	"parserOptions": {
		"ecmaVersion": 2020,
		"sourceType": "module"
	},
	"ignorePatterns": ["dist"],
	"rules": {
		"no-mixed-spaces-and-tabs": ["error", "smart-tabs"]
	}
}
