.message-browser.flexcol
	section.message-box.flexcol
		.message-box-header Message Preview:
		.chat-renderer
	footer.actions.flexcol
		.search.flexrow
			i.fas.fa-search
			input(type="search" name="search" placeholder="Search Message by ID")
			a.view-data
				i.fas.fa-code(title="View message data in console (F12)")
		.template.flexcol
			label Template:
			.template-select.flexrow
				select(name="template-options" value="default")
					option(value="custom") Custom
					option(value="default") Default
				button.template-btn.template-config(title="Configure templates")
					i.fas.fa-input-text
			.template-input.flexrow
				input(type="text" name="template")
				button.template-btn.save-template(title="Save template")
					i.fas.fa-save
		.example.flexcol
			label Output Preview:
			.example-renderer
		button.copy-btn Copy to Clipboard